#server
RewriteEngine On
RewriteBase /user14/bookShopRest/server/api/
#RewriteBase /~user14/bookShop1/server/api
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php
